<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8">
    <title>Items</title>

    <link th:replace="fragments :: bootstrap_head">
</head>
<body>
<div class="d-flex flex-column sticky-footer-wrapper">
    <div th:replace="fragments :: navbar"></div>

    <main class="flex-fill">
        <div class="container">
            <div class="jumbotron">
                <h1 class="display-4">Configuration Item Tracker</h1>
                <hr>
                <form action="/search_result/" method="get">
                <div class="form-group">
                    <label for="searchWord" class="font-weight-bold">Search: </label>
                    <input type="text" class="form-control"
                           id="searchWord" name="searchWord">
                </div>
                <button type="submit" class="btn btn-outline-primary">Search</button>
                <br>
                <hr>
                <th scope="col">
                    <a class="btn btn-outline-dark" th:href="'/manage/items/add'">
                        Add item
                    </a>
                </th>
                <hr>
                <table class="table table-sm table-hover">
                    <thead>
                    <tr>
                        <th scope="col">CI ID:</th>
                        <th scope="col">Name:</th>
<!--                        <th scope="col">Registration date:</th>-->
<!--                        <th scope="col">Calibration date:</th>-->
<!--                        <th scope="col">Calibration interval</th>-->
                        <th scope="col">Next calibration date:</th>
<!--                        <th scope="col">Picture</th>-->
<!--                        <th scope="col">Description</th>-->
<!--                        <th scope="col">Notes</th>-->
                        <th scope="col">Item owner:</th>
<!--                        <th scope="col">Entry created by</th>-->
                        <th></th>
                        <th></th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="item:${itemlist}">
                        <td th:text="${item.ciId}"></td>
                        <td>
                            <a th:text="${item.name}"
                                th:href="'/item/' + ${item.getId()}">
                            </a>
                        </td>
<!--                        <td th:text="${item.registrationDate}"></td>-->
<!--                        <td th:text="${item.calibrationDate}"></td>-->
<!--                        <td th:text="${item.calibrationInterval}"></td>-->
                        <td th:text="${item.nextCalibrationDate}"></td>
<!--                        <td th:text="${item.picture}"></td>-->
<!--                        <td th:text="${item.description}"></td>-->
<!--                        <td th:text="${item.notes}"></td>-->
                        <td th:text="${item.owner}"></td>
<!--                        <td th:text="${item.itemUser}"></td>-->

                        <td>
                            <a class="btn btn-outline-secondary" th:href="'/manage/items/edit/' + ${item.id}">
                                Edit
                            </a>
                        </td>
                        <td>
                            <a class="btn btn-outline-danger" th:href="'/manage/items/delete/' + ${item.id}">
                                Delete
                            </a>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </main>

    <div th:replace="fragments :: footer"></div>
</div>
<div th:replace="fragments :: bootstrap_body"></div>
</body>
</html>
